@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Sarabun:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');
$font2: 'Prata', serif;
// $font1: 'Sarabun', sans-serif;
// $font1: 'Roboto Condensed', sans-serif;
$font1: 'PT Sans', sans-serif;
$mainColor: #52288c;
html,
body {
  width: 100%;
  height: 100vh;
  font-family: 'Prata', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: auto;
}
.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

button:focus {
  outline: none;
}

.page {
  margin: 2rem auto 0;

  .title {
    margin-bottom: 1.5rem;
  }

  .backto {
    margin-bottom: 1.2rem;
    margin-left: 10px;
    a {
      color: rgb(168, 168, 168);
      text-decoration: none;
      font-size-adjust: 0.9rem;
      font-family: $font1;
      &::after {
        content: '<';
        margin-left: 5px;
      }
    }
  }

  .order {
    font-family: $font1;
    margin-bottom: 2.5rem;
    label {
      padding-right: 10px;
    }
    select {
      padding: 2px;
      font-family: $font1;
    }
  }

  .posts {
    margin-bottom: 3.5rem;
    .post-wrapper {
      &:not(:last-child)::after {
        content: ' ';
        position: relative;
        display: block;
        width: 95%;
        margin: 20px auto;
        background-color: rgb(230, 230, 230);
        height: 1px;
        border-radius: 1px;
      }
      a {
        text-decoration: none;
        color: #000;
        .post {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          letter-spacing: 0.5px;

          .post__title {
            font-size: 1.15rem;
            width: 60%;
          }
          .post__cat {
            width: 20%;
            font-family: $font1;
            text-align: right;

            span {
              padding: 2px 6px;
            }
          }
          .post__date {
            width: 20%;
            text-align: right;
            font-family: $font1;
            color: #b9b9b9;
            font-style: italic;
          }
        }
      }
    }
  }

  .pagination {
    .pagination-items {
      width: 50%;
      margin: auto;
      display: flex;
      justify-content: center;
      font-family: $font1;
      align-items: center;
      a {
        text-decoration: none;
        color: rgb(114, 114, 114);
      }
      .item {
        padding: 0 5px;
      }
      .next {
        margin-left: 15px;
      }
      .before {
        margin-right: 15px;
      }
      .dotdot {
        color: rgb(148, 148, 148);
      }
      .current {
        font-size: 1.15rem;
        font-weight: 500;
        color: $mainColor;
      }
    }
  }
}

.user-menu-wrapper {
  font-family: $font1;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(90, 20, 122, 1) 17%,
    rgba(15, 62, 85, 1) 58%,
    rgba(90, 37, 147, 1) 81%,
    rgba(0, 0, 0, 1) 100%
  );
  border-bottom: 2px solid #000;
  padding: 8px 0 6px;
  .user-menu {
    display: flex;
    justify-content: space-between;

    .logo {
      max-width: 80px;
    }

    .social {
      padding-top: 3px;
      font-size: 1.1rem;
      display: flex;
      justify-content: flex-end;
      .item {
        a {
          color: #fff;
        }
        &:last-child {
          margin-left: 12px;
        }
      }
    }
  }
}

.main-nav-wrapper {
  .main-nav {
    .nav {
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      .nav__left {
        margin-left: -10px;
        ul {
          a {
            li {
              display: inline-block;
              position: relative;
              list-style: none;
              padding: 3px 10px;
              cursor: pointer;
              font-family: $font1;
              font-size: 1.05rem;
              text-transform: capitalize;

              font-weight: bold;
              color: #202020;

              &::after {
                content: '';
                width: 0%;
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 2px;
                transform: translateX(-50%);
                background-color: lighten($mainColor, 70%);
                border-radius: 1px;
                display: block;
                transition: all 0.1s cubic-bezier(0.21, 0.64, 0.94, 0.5);
              }
              &:hover {
                color: $mainColor;
                &::after {
                  width: 80%;
                  background-color: lighten($mainColor, 10%);
                }
              }
            }
          }
        }
      }
      .nav__right {
        padding: 0 3px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          font-size: 1.05rem;
        }
        a {
          text-decoration: none;
        }
        ul {
          list-style: none;
          li {
            cursor: pointer;
            font-family: $font1;
            color: $mainColor;
            display: flex;
            justify-content: center;
            align-items: center;

            text-transform: capitalize;
            font-weight: bold;
            font-size: 1.05rem;
          }
        }
      }
    }
  }
}

.featured-posts-wrapper {
  margin-top: 3rem;
  margin-bottom: 6rem;
  .featured-posts {
    display: flex;
    .featured-posts__left {
      width: 64.999%;
      .post {
        margin-right: 3rem;
        cursor: pointer;

        a {
          text-decoration: none;
        }
        h1 {
          width: 100%;
          font-size: 2.1rem;
          color: rgb(0, 0, 0);
        }
        .post__bg {
          overflow: hidden;
          margin-bottom: 0.5rem;
          img {
            transition: all 0.1s linear;
            border-radius: 3px;
          }
        }
        .post__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.5rem;
          font-family: $font1;
          .cat {
            padding: 4px 8px;
            border-radius: 3px;
          }
          .date {
            color: rgb(126, 126, 126);
            font-size: 0.9rem;
            font-style: italic;
          }
        }
        &:hover {
          .post__bg {
            img {
              transform: scale(1.1);
            }
          }
          h1 {
            color: #9c9c9c;
          }
        }
      }
    }
    .featured-posts__right {
      display: flex;
      flex-direction: column;
      width: 35%;
      a {
        text-decoration: none;
        .post {
          padding: 0 0;
          position: relative;
          h1 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            color: #000;
          }

          &:hover {
            h1 {
              color: rgb(156, 156, 156);
            }
          }
        }
        .post__meta {
          display: flex;
          width: 100%;
          justify-content: space-between;
          font-family: $font1;
          align-items: center;
          font-size: 0.9rem;

          .cat {
            padding: 2px 8px;
            border-radius: 2px;
            font-weight: 400;
          }
          .date {
            font-style: italic;
            color: rgb(126, 126, 126);
          }
        }
        &:not(:last-child) {
          &::after {
            content: ' ';
            position: relative;
            display: block;
            width: 95%;
            margin: 20px auto;
            background-color: rgb(230, 230, 230);
            height: 1px;
            border-radius: 1px;
          }
        }
      }
    }
  }
  .sec-featured-posts {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    .post {
      width: 32.3%;

      a {
        text-decoration: none;
        .post__header {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          font-family: $font1;
          .cat {
            padding: 2px 10px;
            font-size: 0.9rem;
          }
          .date {
            color: #7e7e7e;
            font-style: italic;
            font-size: 0.8rem;
          }
        }
        .post__bg {
          overflow: hidden;
          img {
            max-width: 100%;
            height: auto;
            display: block;
            transition: all 0.1s linear;
            border-radius: 3px;
          }
        }
        h1 {
          margin-top: 10px;
          font-size: 1.1rem;
          color: #000;
        }
      }

      &:hover {
        .post__bg {
          img {
            transform: scale(1.1);
          }
        }
        h1 {
          color: #9c9c9c;
        }
      }
    }
  }
}

.cat-section-wrapper {
  margin-top: 4rem;
  .cat-section {
    .cat-section__header {
      position: relative;
      width: 100%;
      height: 25px;
      border-radius: 3px;

      h1 {
        font-size: 1.6rem;
        position: absolute;
        top: -22px;
        left: 15px;
        padding: 0 10px;
        background-color: rgba(255, 255, 255, 0.842);
      }
    }
    .cat-section__postlist {
      margin-bottom: 2rem;
      ul {
        margin-top: 0.5rem;
        margin-left: 1rem;
        a {
          li {
            list-style: none;
            font-size: 20px;
            cursor: pointer;
            font-family: $font1;
            color: #000;
            &:hover {
              color: #9c9c9c;
            }
          }

          &:not(:last-of-type) {
            &::after {
              content: '';
              width: 100%;
              height: 1px;
              border-radius: 1px;
              background-color: rgb(230, 230, 230);
              margin-bottom: 0.5rem;
              margin-top: 0.5rem;

              display: block;
            }
          }
        }
      }
    }

    a {
      text-decoration: none;
    }

    .more-btn {
      font-family: $font1;
      margin-left: auto;
      width: 180px;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s;
      position: relative;
      padding: 17px 0;
      color: rgb(31, 31, 31);
      font-size: 1.2rem;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #2b2b2b23;
        transition: all 0.3s;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(70, 70, 70, 0.5);
        transform: scale(1.2, 1.2);
      }

      &:hover {
        &::before {
          opacity: 0;
          transform: scale(0.5, 0.5);
        }
        &::after {
          opacity: 1;
          transform: scale(1, 1);
        }
      }
    }
  }
}

//  ############ PAGE
.post-page-wrapper {
  .post-page {
    max-width: 700px;
    margin: auto;
    .header {
      .title {
        margin-bottom: 1rem;
      }

      .excerpt {
        line-height: 1.6;
        letter-spacing: 1.1px;
        font-family: $font1;
        font-size: 18px;
        margin-bottom: 1.7rem;
      }

      .meta {
        color: rgb(70, 70, 70);
        font-family: $font1;
        font-size: 16px;

        .author,
        .date,
        .tags {
          margin-bottom: 0.2rem;
          font-style: italic;
          font-size: 0.9rem;
        }
        .date {
          margin-bottom: 1.2rem;
        }
        .tags {
          p {
            margin-bottom: 0.6rem;
          }
          .tags-box {
            width: 100%;
            margin-bottom: 1.7rem;
            display: flex;
            a {
              text-decoration: none;
              color: #000;
              div {
                padding: 4px 10px;
                border: 1px solid #424242;
                border-radius: 2px;
                margin: 0 5px;
              }
            }
          }
        }
      }
    }

    .share {
      display: flex;
      margin-bottom: 2.5rem;
      .react-share__ShareButton {
        color: #fff;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin-right: 10px;
        cursor: pointer;
        padding: 3px 0;
      }
      .shareFbBtn {
        background-color: #3a579a;
      }
      .shareTwitterBtn {
        background-color: #00abf0;
      }
    }

    .content {
      line-height: 1.6;
      letter-spacing: 1.1px;
      font-family: $font1;
      font-size: 18px;

      ul {
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: 2rem;
      }
      h1,
      h2 {
        font-family: $font2;
      }
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.3rem;
      }
      h3 {
        font-size: 1.2rem;
      }
      h4 {
        font-size: 1.1rem;
      }

      h1 + h2 {
        margin-top: 1.5rem;
      }
      h1 + h3,
      h2 + h3 {
        margin-top: 0.6rem;
      }
      h1 + h4,
      h2 + h4 {
        margin-top: 0.6rem;
      }
      p + p {
        margin-top: 2rem;
      }
      h1 + p,
      h2 + p {
        margin-top: 1.5rem;
      }
      h3 + p,
      h4 + p {
        margin-top: 1rem;
      }
      p + h1,
      p + h2 {
        margin-top: 3rem;
      }
      p + h3,
      p + h4 {
        margin-top: 2rem;
      }
      h3 + h4,
      h4 + h5 {
        margin-top: 0.7rem;
      }
      h5 + p {
        margin-top: 0.7rem;
      }
      .gist {
        max-width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
      }
    }
  }
}

.tags-page-wrapper {
  .tags-page {
    .tags-abc {
      .tag-box {
        margin-bottom: 3rem;
        .char {
          width: 100%;
          height: 30px;
          background-color: rgb(235, 235, 235);
          position: relative;
          border-radius: 3px;
          margin-bottom: 1rem;
          span {
            position: absolute;
            top: -10px;
            left: 10px;
            font-size: 1.5rem;
            text-transform: uppercase;
          }
        }
        .tags {
          display: flex;
          padding: 0 5px;
          a {
            text-decoration: none;
            .tag {
              color: #000;
              font-family: $font1;
            }
            &:not(:last-of-type) {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}

.categories-page-wrapper {
  .categories-page {
    .categories {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto;
      .category {
        flex: 50%;
        padding: 0 1rem;
        margin-bottom: 1rem;
        a {
          text-decoration: none;
          .single {
            padding: 0.6rem;
            h1 {
              font-size: 1.4rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.category-page-wrapper {
  .category-page {
    .backto {
      margin-bottom: 2.5rem;
    }
    .title {
      position: relative;
      width: 100%;
      height: 30px;
      border-radius: 4px;
      margin-bottom: 2rem;
      h1 {
        position: absolute;
        top: -25px;
        left: 10px;
        padding: 0 10px;
        background-color: rgba(255, 255, 255, 0.842);
      }
    }
    .featured-posts {
      h2 {
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .posts {
        display: flex;
        width: 100%;
        a {
          text-decoration: none;
          .post {
            position: relative;
            .post__img {
              overflow: hidden;
              img {
                transition: all 0.12s cubic-bezier(0.4, 0, 1, 1);
              }
            }
            .post__title {
              bottom: 0;
              left: 0;
              position: absolute;
              padding-right: 3rem;
              padding-left: 0.5rem;
              h2 {
                font-size: 1.4rem;
                padding: 10px 20px;
                background-color: rgba(0, 0, 0, 0.767);
                color: rgb(255, 255, 255);
              }
            }
            &:hover {
              .post__img {
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
    }
  }
}

.hirlevel-page-wrapper {
  .hirlevel-page {
    .title {
      text-align: center;
    }
    .subs-text {
      text-align: center;
      margin-bottom: 2rem;
    }
    .subs-form-wrapper {
      .subs-form {
        max-width: 600px;
        margin: auto;
        text-align: center;
        font-family: $font1;
        font-size: 1.1rem;

        #mc_embed_signup_scroll {
          .indicates-required {
            text-align: right;
            font-size: 0.9rem;
            margin-bottom: 10px;
            span {
              color: rgb(168, 43, 43);
            }
          }

          .mc-field-group {
            margin-bottom: 1rem;
            label {
              font-size: 1.3rem;

              width: 100%;
              display: block;
              text-align: center;
              margin-bottom: 0.4rem;
            }
            input[type='email'] {
              font-size: 1.2rem;
              padding: 8px 10px;
              display: block;
              width: 100%;
              text-align: center;
              border-radius: 5px;
            }
            div.mce_inline_error {
              display: inline-block;
              margin-top: 0.3rem;
              background-color: inherit;
              color: rgb(168, 43, 43);
              margin-bottom: 0.5rem;
            }
          }
          fieldset {
            border: none;
          }
          #mergeRow-gdpr {
            .content__gdpr {
              font-size: 0.9rem;
              label {
                font-size: 1.3rem;
              }
              label.checkbox {
                font-size: 1.1rem;
                margin-top: 1rem;
                span {
                  padding-left: 10px;
                }
              }
            }
            .content__gdprLegal {
              font-size: 0.9rem;
            }
          }
          #mce-responses {
            margin-bottom: 1rem;
            .response {
              font-size: 1.3rem;
            }
            #mce-success-response {
              color: #30883b;
            }
            #mce-error-response {
              color: #dc1e1e;
              a {
                color: rgb(83, 14, 14);
              }
            }
          }
          #mc-embedded-subscribe {
            margin-top: 1rem;
            border-radius: 3px;
            border: none;
            font-size: 1.2rem;
            padding: 10px 16px;
            background-color: $mainColor;
            text-transform: uppercase;
            color: #fff;
          }
        }
      }
    }
  }
}

.footer {
  font-family: $font1;
  background-color: #131313;
  color: #9c9c9c;
  margin-top: 3rem;
  a {
    color: #9c9c9c;
    text-decoration: none;
  }
  ul {
    border-left: 1px solid #2c2c2c;
    li {
      list-style: none;
      margin-bottom: 8px;
    }
  }
  .footer-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    .col {
      width: 25%;
      text-align: center;
      img {
        margin: auto;
        max-width: 100px;
      }
      svg {
        font-size: 1.2rem;
        margin-right: 16px;
        color: lighten($color: $mainColor, $amount: 20%);
      }
    }
  }
  .copyright {
    border-top: 1px solid #1b181f;
    background-color: #0f0f0f;
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 3px;
    padding-top: 3px;
    color: rgb(97, 97, 97);
    a {
      color: rgb(136, 136, 136);
    }
  }
}

.searchModal {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 80;
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    z-index: 90;
    .closeBtn {
      text-align: right;
      svg {
        font-size: 1.4rem;
        color: rgb(177, 177, 177);
      }
    }
    .input-box {
      background-color: #fff;
      padding: 12px 22px;
      border-radius: 3px;
      form {
        background-color: $mainColor;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(230, 230, 230);

        input[type='text'] {
          font-family: $font1;
          border: none;
          padding: 5px 10px;
          font-size: 1.2rem;
          &:focus {
            outline: none;
          }
        }
        button {
          background-color: #fff;
          border: none;
          outline: none;
          background-color: transparent;
          padding: 5px 10px;
          cursor: pointer;
          svg {
            font-size: 1.2rem;
            color: rgb(243, 243, 243);
          }
        }
      }
    }
  }
}

.search-page-wrapper {
  .search-page {
    .input {
      width: 500px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .input__text {
        width: 100%;

        input {
          padding: 10px 15px;
          font-size: 1.2rem;
          font-family: $font1;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
      }
      .input__search {
        font-size: 1.2rem;
        margin-left: 20px;
        background-color: $mainColor;
        color: #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 15px;
        border-radius: 2px;
        height: 100%;
        cursor: pointer;
      }
    }
    .posts {
      margin-top: 3rem;
      h2 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.kapcsolat-page-wrapper {
  .kapcsolat-page {
    .kapcsolat {
      display: flex;
      font-family: $font1;
      .left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .data {
          h2 {
            font-size: 1.3rem;
            margin-bottom: 1rem;
          }
          p {
            font-size: 1.2rem;
            span {
              display: inline-block;
              font-weight: bold;
              padding-right: 15px;
              margin-bottom: 0.8rem;
              &::after {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $mainColor;
                display: block;
              }
            }
          }
          .social {
            width: 100%;
            display: flex;
            margin-top: 1rem;
            justify-content: center;
            span {
              padding: 0 10px;
              svg {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
      .right {
        width: 50%;
        padding: 15px;
        font-family: $font2;
        position: relative;

        .form {
          background-color: #000;
          color: #fff;
          padding: 20px 50px;
          img {
            margin: auto;
            width: 100px;
            margin-bottom: 1.7rem;
          }
          p {
            text-align: center;
            font-size: 1.1rem;
            margin-bottom: 1.6rem;
          }
          .form-grp {
            label,
            input[type='text'],
            input[type='email'],
            textarea {
              display: block;
              width: 100%;
            }
            input[type='text'],
            input[type='email'],
            textarea {
              font-family: $font1;
              font-size: 1.1rem;
              background-color: rgb(0, 0, 0);
              border: 1px solid rgb(12, 12, 12);
              border-bottom: 2px solid $mainColor;
              padding: 6px 14px;
              margin-bottom: 20px;
              color: rgb(233, 233, 233);
              &:focus {
                outline: 2px solid rgb(27, 27, 27);
              }
            }
            textarea {
              max-width: 100%;
              min-height: 120px;
              white-space: pre-line;
            }
            label {
              color: rgb(233, 233, 233);

              text-align: center;
              font-size: 1rem;
              margin-bottom: 5px;
            }
            .send-btn {
              cursor: pointer;
              font-family: $font1;
              margin: 20px auto;
              width: 160px;
              text-transform: uppercase;
              text-align: center;
              transition: all 0.2s;
              position: relative;
              padding: 14px 0;
              color: rgb(255, 255, 255);
              font-size: 1.2rem;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: rgba(71, 33, 121, 0.637);
                transition: all 0.3s;
              }

              &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                transition: all 0.3s;
                border: 2px solid $mainColor;
                transform: scale(1.2, 1.2);
              }

              &:hover {
                &::before {
                  opacity: 0;
                  transform: scale(0.5, 0.5);
                }
                &::after {
                  opacity: 1;
                  transform: scale(1, 1);
                }
              }
            }
          }
        }
        .response {
          position: absolute;
          top: 15px;
          left: 15px;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(255, 255, 255);
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          background-color: rgb(0 0 0 / 77%);
          transform: scale(0.7, 0.4);
          transition: all 0.2s linear;
          opacity: 0;

          &.show {
            opacity: 1;
            transform: scale(1, 1);
          }
          .error,
          .success {
            text-align: center;
            p {
              font-size: 2rem;
              margin-bottom: 30px;
            }
            svg {
              font-size: 3rem;
              margin-bottom: 30px;
            }
            .again {
              padding: 15px 30px;
              background-color: $mainColor;
              cursor: pointer;
            }
          }
          .error {
            svg {
              color: #bc3737;
            }
          }
          .success {
            svg {
              color: #4c8f29;
            }
          }
        }
      }
    }
  }
}
